<h1>{{ "forgotyourpassword.title"|t }}</h1>

<form>
    <div class="form-group">
        <label for="email">{{ "forgotyourpassword.enteremail"|t }}</label>
        <input type="email" class="form-control" id="email" placeholder="{{ "forgotyourpassword.email"|t }}" value="{{ email }}">
    </div>
    <button type="submit" class="btn btn-primary">{{ "forgotyourpassword.submit"|t }}</button>
</form>
